<h1 class="sidebar"><a class="sidebar" href="{{ "/" | relURL }}">{{ .Site.Title }}</a></h1>
<h1 style="font-size:20px; font-style:italic;">{{ .Site.Params.title }} <br/>
{{ .Site.Params.institution }}</h1>
<hr/>

{{ $.Scratch.Set "currentPageTitle" .Title }}

{{ range .Site.Menus.main }}

<p class="sidebar" style="font-size:18px"><a class="sidebar" href="{{"" | relURL }}">Home</a></p>
<p class="sidebar" style="font-size:18px" ><a class="sidebar" href="{{ .URL | relURL }}">{{- .Name -}}</a></p>
	{{ if and (eq "Research" ($.Scratch.Get "currentPageTitle")) (eq "Research" .Title) }}
	<p class="sidebar" style="margin-left:2vw;"><a class="sidebar" href="{{ "research/#WorkingPapers" | relURL }}">Working Papers</a></p>
	<p class="sidebar" style="margin-left:2vw;"><a class="sidebar" href="{{ "research/#Publications" | relURL }}">Publications</a></p>
<!--	<p class="sidebar" style="margin-left:2vw;"><a class="sidebar" href="{{ "research/#WorksInProgress" | relURL }}">Works in Progress</a></p> -->
	{{end}}
{{ end }}

<p class="sidebar" style="font-size:18px" ><a class="sidebar" href="{{ .URL | relURL }}">{{- .Name -}}</a></p>
	{{ if and (eq "Teaching" ($.Scratch.Get "currentPageTitle")) (eq "Teaching" .Title) }}
	<p class="sidebar" style="margin-left:2vw;"><a class="sidebar" href="{{ "research" | relURL }}">Working Papers</a></p>
	{{end}}
{{ end }}

<p class="sidebar" style="font-size:18px"><a class="sidebar" href="https://scholar.harvard.edu/files/stantcheva/files/cv_sstantcheva_jan2023.pdf">Bio and CV</a></p>



{{ with .Site.Params.logo }}
{{ if (eq "Homepage" ($.Scratch.Get "currentPageTitle")) }}
<img src="{{ . | relURL }}" alt="Logo" style="padding-bottom: 3em;"/>
{{ else }}
<img class="nothomepage" src="{{ . | relURL }}" alt="Logo" style="padding-bottom: 3em;"/>
{{ end }}
{{ end }}
